<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            IntCore Reservation task
        </div>
        <div class="supTitle m-b-md" *ngIf="Authorization">
            In the case of uploading the database attached to the project <br> login with
        </div>
        <div class="data" *ngIf="Authorization">
            <span>E-mail: gerges@gerges.com </span>
            <span>Password: 123 </span>
        </div>
    </div>
</div>