
  <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" #email required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" #password required>
    </div>
    <div class="form-text text-danger">{{error}}</div>

    <button type="submit" class="btn btn-primary" (click)="login(email.value, password.value)">Submit</button>


